<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width"/>
    <title>&copy;Knowle.</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <header>
        <div class="container">
            <nav>
                <a href="index.html" class="brand">Knowle.</a>
                <ul class="menu">
                    <li><a href="#">Pages par thèmes</a></li>
                    <li><a href="#" class="active">Acceuil</a></li>
                    <li><a href="#">Article au hasard</a></li>
                    <li class="hidden"><a href="#">Langue </a></li>
                    <li class="hidden"><a href="#" class="btn">Langue : 🇫🇷</a></li>
                </ul>
                <ul class="nav-buttons">
                    <li><a href="#">Licence</a></li>
                    <li><a href="#" class="btn">Aide ?</a></li>
                <ul>
                <button class="menu-btn">
                    <i class="fas fa-bars"></i>
                </button>
            </nav>
            <h1>Page de Licence : </h1>
            <p>Licence d'utilisation des pages de Vikidia

                Les pages de Vikidia sont des contenus créés et édités par des contributeurs bénévoles, dans le but de fournir une encyclopédie en ligne pour les enfants de 8 à 13 ans. Toutes les pages de Vikidia sont sous licence libre Creative Commons Attribution-ShareAlike 3.0 (CC BY-SA 3.0).
                
                Cela signifie que vous êtes autorisé à utiliser, copier, modifier et distribuer les pages de Vikidia, à condition de respecter les termes de la licence. Vous pouvez par exemple les utiliser pour des projets éducatifs, des présentations ou des publications. Vous devez toutefois créditer les auteurs d'origine et indiquer que les pages sont sous licence CC BY-SA 3.0.
                
                En utilisant les pages de Vikidia, vous acceptez également de partager vos contributions sous licence CC BY-SA 3.0, afin de permettre à d'autres de les utiliser, les modifier et les partager à leur tour.
                
                Veuillez noter que la licence CC BY-SA 3.0 ne couvre pas les images ou les médias inclus dans les pages de Vikidia. Veuillez consulter les licences respectives de ces éléments pour connaître les conditions d'utilisation.
                
                Nous vous encourageons à utiliser les pages de Vikidia et à contribuer à cette encyclopédie en ligne pour enfants.</p>
    </header>  
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </form>
  </body>
</html>
