@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

body{
    margin : 0;
    font-family: 'Roboto Slab', serif;
    background: linear-gradient(180deg, rgba(5,5,5,1) 0%, rgba(9,29,86,1) 32%, rgba(14,52,159,1) 49%, rgba(204,209,245,1) 100%);
    color : #000000;
}

* {
    box-sizing : border-box;
    margin : 0;
    padding : 0;
}

a{
    text-decoration : none;
    color : #ffffff;  
}

h2{
    color:#000;
}

h3{
    margin-left: 10px;
}
p{
    max-width : 25em;
    line-height : 28px;
}

span{
    color : #000000;
    font-weight:bold;
}

.container{
    max-width : 1350px;
    margin : 0 auto;
    padding : 0 2em;
    display : flex;
    justify-content : space-between;
    align-items : center;
    flex-direction : column;
    min-height : 100vh;
    position : relative;
}

.btn{
    border : 2px solid;
    border-color: #fff;
    padding : 0.7em 1.8em;
    border-radius : 1em;
    font-size : 0.9em;
    transition : 0.3s;
    margin : 2em 0;     
    gap : 2em;
}

.btn:hover{
    background : #ffffff;
    color:#000;
}

nav{
    display : grid;
    grid-template-columns : repeat(3,1fr);
    place-items : center;
    width : 100%;
    padding : 2em 0;
}

nav .menu a:not(.active, .btn){
    color : #ffffff;
}

.brand{
    font-size : 1.1em;
    font-weight: 700;
    justify-self: start;
}

nav li{
    display : inline-block;
    margin : 0 0.7em;
}

.active{
    color:rgb(255, 255, 255);
    border-bottom:1px solid #ffffff;
}
.nav-buttons{
    justify-self : end;
}

.nav-buttons li:nth-child(2){
    margin : 0;
}

.menu-btn{
    justify-self : end;
    background : none;
    border : none;
    cursor : pointer;
    color: #000000;
    display : none;
}

.hidden{
    display : none;
}

.header-body{
    text-align : center;
    margin : 3em 0;
}

.header-body h1{
    font-size : 5em;
    color:#fff;
}

.header-body p{
    margin : 1em auto 2em auto;

}

.panels,
.bottom-heading,
.panel-header{
    display : flex;
    justify-content : space-between;
    align-items : center;

}

.header-bottom{
    width : 100%;
    background-color: #fff;
    color:#000;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    
}

.link {
    text-decoration : underline;
}

.panels{
    margin : 1.2em 0;
    gap : 2em;
}

.panel{
    border-radius : 0.5em;
    padding : 1em;
    transition : 0.3s;
    background-color: rgb(255, 255, 255);
    max-height: 165px;
    overflow: hidden;
}



.panel-header span{
    font-size : 0.9em;
}

.category{
    text-transform : uppercase;
}

.panel-body{
    margin : 1em 0;
}

.panel p{
    color: #000000;
    font-size : 0.9em;
    margin-top: 0.5em;
    font-weight: inherit;
    text-overflow: ellipsis;
}

.panel-link {
    font-weight : 600;
}

.panel-link span{
    margin-right : 0.5em;
    color : #000000;
}

.panel-link:hover span{
    text-decoration:underline;
}

@media screen and (max-width : 1000px){
    nav {
        grid-template-columns : 1fr 1fr;
    }
    
    .menu-btn{
        display : block;
    }

    nav .menu{
        background : #000;
        position : absolute;
        left : 0;
        top : 5em;
        width : 100%;
        height : 0;
        display : flex;
        justify-content : center;
        align-items : center;
        flex-direction : column;
        opacity : 0;
        transition : 0.6s;
        overflow : hidden;
        z-index : 9;
    }

    .nav-buttons {
        display : none;
    }

    .hidden{
        display : block;
    }

    nav .menu-open{
        opacity : 1;
        height : 20em;
        overflow : visible;
    }

    nav .menu li{
        margin : 1em 0;
    }
}

@media screen and (max-width: 980px){
    .panels, .bottom-heading{
        flex-direction : column;
    }
    .link {
        margin : 1em 0;
    }
}

@media screen and (max-width: 708px){
    .btn{
        display: none;
    }
}

::selection{
    color: #fff;
    background: #88b9cb;
  }
  
  .wrapper{
    margin:25px;
  }
  
  .wrapper .search-input{
    background: #ffffff;
    width: 100%;
    border-radius: 15px;
    position: relative;
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
  }
  
  .search-input input{
    height: 50px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 15px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    background-color: #ffffff;
  }
  
  .search-input.active input{
    border-radius: 5px 5px 0 0;
  }
  
  .search-input .autocom-box{
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
  }
  
  .search-input.active .autocom-box{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
    color:#000;
  }
  
  .autocom-box li{
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
  }
  
  .search-input.active .autocom-box li{
    display: block;
  }
  .autocom-box li:hover{
    background: #efefef;
  }
  
  .search-input .icon{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    color: #000000;
    cursor: pointer;
  }
  .card {
    background-color: #f5f5f5;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    padding: 20px;

  }
  
  .card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-url {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .card-image img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
  }
  
  .card-link {
    color: #007bff;
    font-size: 16px;
    text-decoration: none;
  }
  
  .card-link:hover {
    text-decoration: underline;
  }
  
  h1{
    color:white;
  }
  button{
    background-color: #fff;
    border-color: none;
    font-size: 20px;
    
  }