<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width"/>
    <title>Sapiensphere.org | &copy;</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <header>
        <div class="container">
            <nav>
                <a href="index.html" class="brand">SAPIENSPHERE / ORG</a>
                <ul class="menu">
                    <li><a href="#">Pages par thèmes</a></li>
                    <li><a href="#">Article au hasard</a></li>
                    <li class="hidden"><a href="#">licence</a></li>
                    <li class="hidden"><a href="#" class="btn">donation</a></li>
                </ul>
                <ul class="nav-buttons">
                    <li><a href="#">Licence</a></li>
                    <li><a href="#" class="btn">Faire un don</a></li>
                <ul>
                <button class="menu-btn">
                    <i class="fas fa-bars"></i>
                </button>
            </nav>
            <div class="header-body">
                <h1>SAPIENSPHERE.</h1>
                <div class="wrapper">
                    <div class="search-input">
                      <a href="" target="_blank" hidden></a>
                      <input type="text" placeholder="Rechercher sur Sapiensphère (Moteur Vikidia)">
                      <div class="autocom-box">
                      </div>
                      <div class="icon"><i class="fas fa-search"></i></div>
                    </div>
                  </div>
                <a href="#" class="btn">+ Informatique</a>
                <a href="#" class="btn">+ Littérature</a>
                <a href="#" class="btn">+ Astronomie</a>
                <a href="#" class="btn">+ Biologie</a>
                <a href="#" class="btn">+ Religion</a>
            </div>
            <div class="header-bottom">
                <div class="bottom-heading">
                    <h3>Voici nos articles labellisé du jour (Article générer par Vikidia)</h3>
                    <a href="#">Voir les articles relié <i class="fas fa-arrow-right"></i></a>
                </div>
                <div class="panels">
                    <div class="panel">
                        <div class="panel-header">
                            <span class="category">Article du jour n°1</span>
                            <span></span>
                        </div>
                        <div class="panel-body">
                            <h2><!--{{ title }}--></h2>
                            {% if contents[1].text|length > 150 %}
                                <p>{{ contents[1].text[:150] }}</p>
                            {% else %}
                            <p>{{ contents[1].text }}</p>
                            {% endif %}
                        </div>
                        <a href="#" class="panel-link">
                            <span><!-- Consulter l'article  <i class="fas fa-arrow-right"></i>--> </span>
                        </a>
                    </div>
                    <div class="panel">
                        <div class="panel-header">
                            <span class="category">Article du jour n°2</span>
                            <span></span>
                        </div>
                        <div class="panel-body">
                            <h2><!--{{ title }}--></h2>
                            {% if contents2[1].text|length > 120 %}
                                <p>{{ contents2[1].text[:150] }}</p>
                            {% else %}
                            <p>{{ contents2[1].text }}</p>
                            {% endif %}
                        </div>
                        <a href="#" class="panel-link">
                           <!-- <span> Consulter l'article  <i class="fas fa-arrow-right"></i> </span>--> 
                        </a>
                    </div>
                    <div class="panel">
                        <div class="panel-header">
                            <span class="category">Article du jour n°3</span>
                            <span></span>
                        </div>
                        <div class="panel-body">
                            <h2><!--{{ title }}--></h2>
                            {% if contents3[1].text|length > 120 %}
                                <p>{{ contents3[1].text[:150] }}</p>
                            {% else %}
                            <p>{{ contents3[1].text }}</p>
                            {% endif %}
                        </div>
                        <a href="#" class="panel-link">
                            <!--<span> Consulter l'article  <i class="fas fa-arrow-right"></i> </span>-->
                        </a>
                    </div>
                    <div class="panel">
                        <div class="panel-header">
                            <span class="category">Article du jour n°4</span>
                            <span></span>
                        </div>
                        <div class="panel-body">
                            <h2><!--{{ title }}--></h2>
                            {% if contents4[1].text|length > 120 %}
                                <p>{{ contents4[1].text[:150] }}</p>
                            {% else %}
                            <p>{{ contents4[1].text }}</p>
                            {% endif %}
                        </div>
                        <a href="#" class="panel-link">
                            <span> <!--Consulter l'article  <i class="fas fa-arrow-right"></i> </span>-->
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>  
    <script src="script.js"></script>    
    <script src="suggestion.js"></script>
    <script src="recherche.js"></script>   
  </body>
</html>
